.parent {
    background-color: #B2CABD;
    padding: 10px;
    display: flex;
    width: 500px;
    height:600px;
    box-sizing: border-box;
    
    
}
div.parent#photo  {
    width: 100px;
    height: 100px;
}

div.parent#icon > iconify-icon {
    display: flex;
    flex-direction: row-reverse;
}
.parent#center >p {

   

}
